@keyframes appear {
    0% {
        opacity: 0;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inContainer {
    margin-bottom: 50px;
}

/* Toppage */

.toppage-textBox {
    vertical-align: middle;
    margin-right: 50px;
}

.toppage-title {
    animation: 1.5s appear;
    margin-top: 0;
    text-align: left;
}

.toppage-text {
    animation: 1.5s appear;
}

.toppage-svg {
    animation: 1.5s appear;
    max-width: 500px;
    width: 50vw;
}

.toppage-link {
    animation: 1.5s appear;
}

/* loginPage */

.login-input {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

.login-button {
    width: 200px;
}

.login-failure {
    color: rgb(128, 1, 1);
    position: fixed;
    width: 100%;
    text-align: center;
    left: 50%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
}
/* Mypage */

.mypageBar {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}

.mypage-menu {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    gap: 50px;
}

.mypage-image {
    width: 100%;
}

.mypage-list {
    margin: auto;
    margin-bottom: 0;
    list-style: none;
    max-width: 500px;
    padding-left: 0;
}

.mypage-list li {
    border: 1px solid black;
    margin-bottom: 20px;
}

.mypage-list_items {
    list-style: none;
}

.mypage-list_items a {
    text-decoration: none;
}

.mypage-list_items p {
    font-weight: 300;
    padding-left: 10px;
    margin-bottom: 0;
}

.mypage-list_items small {
    padding-left: 10px;
}